*.png filter=lfs diff=lfs merge=lfs -textecho *.jpg filter=lfs diff=lfs merge=lfs -textecho *.jpeg filter=lfs diff=lfs merge=lfs -textecho *.webp filter=lfs diff=lfs merge=lfs -textecho *.ogg filter=lfs diff=lfs merge=lfs -textecho *.wav filter=lfs diff=lfs merge=lfs -text
